body {
  font-family: 'Exo 2', sans-serif; }

button,
button:active,
button:focus {
  outline: none; }

.page-header {
  background-color: #373544;
  position: fixed;
  width: 100%;
  z-index: 1; }

.nav-toggle {
  width: 36px;
  height: 50px;
  padding: 0;
  position: relative;
  border: none;
  outline: 0px; }

.nav-toggle span {
  background-color: #ffffff;
  width: 36px;
  height: 2px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .nav-toggle span::before {
    content: '';
    background-color: #ffffff;
    width: 36px;
    height: 2px;
    display: block;
    position: absolute;
    -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
            transform: translateY(5px);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .nav-toggle span::after {
    content: '';
    background-color: #ffffff;
    width: 36px;
    height: 2px;
    display: block;
    position: absolute;
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.nav-toggle--active span {
  width: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .nav-toggle--active span::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .nav-toggle--active span::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.navbar {
  padding-bottom: 0px;
  padding-top: 0px; }

.nav-link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  padding-top: 24px;
  padding-bottom: 24px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center; }
  .nav-link:hover {
    color: #fff;
    background-color: #2C2B33;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

.navbar-collapse {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.user-nav {
  position: relative;
  padding-right: 10px; }
  .user-nav::after {
    content: '';
    width: 1px;
    height: 15px;
    display: block;
    position: absolute;
    top: 40%;
    right: 0;
    padding: 0;
    background-color: #fff; }

.other-nav {
  padding-left: 10px; }

@media (max-width: 991px) {
  .user-nav {
    padding-right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    .user-nav::after {
      width: 100%;
      height: 1px;
      background-color: #fff;
      top: 100%; }
  .user-nav .nav-item {
    width: 50%; }
  .other-nav {
    padding-left: 0; } }

.page-wrapper {
  background-image: url(../img/index2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; }

.index-main {
  color: #ffffff;
  padding-top: 280px; }

.index-title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 22px;
  font-size: 48px;
  text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.2); }

<<<<<<< HEAD
.index-top {
  display: none; }

.index-sub-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  font-size: 24px;
  letter-spacing: 5px;
  line-height: 1.3;
  text-shadow: rgba(119, 119, 119, 0.5) 0px 2px 0px; }

<<<<<<< HEAD
.white-hr {
  background-color: #fff; }

.grey-hr {
  background-color: #d9d9d9;
  border-top: 1px solid #d9d9d9;
  width: 100%;
  margin: 24px 0; }

=======
hr {
  background-color: #fff; }

>>>>>>> 4b6ebce07dff99bc8449a77a2793634f8215c47e
.btn-index-start {
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #ffffff;
<<<<<<< HEAD
  padding: 15px 50px;
  font-size: 16px;
  font-weight: 700;
  width: auto;
  border-radius: 50px;
=======
  padding: 10px 50px;
  font-size: 16px;
  font-weight: 700;
>>>>>>> 4b6ebce07dff99bc8449a77a2793634f8215c47e
  letter-spacing: 5px;
  color: #373544;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }
  .btn-index-start:hover {
    background-color: rgba(255, 255, 255, 0.1);
<<<<<<< HEAD
    color: #fff;
    text-decoration: none; }
=======
    color: #fff; }

.btn-index-free {
  border: 1px solid #ffffff;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 40px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background-color: rgba(255, 255, 255, 0.1); }
  .btn-index-free:hover {
    background-color: white;
    color: #373544; }
>>>>>>> 4b6ebce07dff99bc8449a77a2793634f8215c47e

.index-bottom {
  display: block; }

<<<<<<< HEAD
=======
.btn {
  width: auto;
  border-radius: 50px; }

>>>>>>> 4b6ebce07dff99bc8449a77a2793634f8215c47e
.index-btn-top {
  text-align: center;
  margin-top: 100px;
  opacity: 0; }

<<<<<<< HEAD
.modal-content {
  border-radius: 15px;
  max-width: 380px;
  margin: 50px auto;
  padding: 36px; }

.modal-title {
  text-align: center;
  font-weight: 600;
  font-size: 24px; }

.form-control {
  font-size: 16px;
  height: 44px;
  padding: 0 20px;
  margin-bottom: 16px;
  border: 1px solid #d9d9d9;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .form-control:focus {
    border: 1px solid #d9d9d9;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #faffbd; }

.btn {
  background-color: #383544;
  color: #fff;
  border-radius: 25px;
  width: 100%;
  padding: 12px 50px;
  text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: 700;
  font-size: 16px; }
  .btn:hover {
    background-color: #8C87A2;
    color: #fff; }

.reset-link {
  font-weight: 700;
  font-size: 14px;
  color: #000000; }
  .reset-link:hover {
    color: #000000;
    text-decoration: none; }

.page-title {
  font-size: 48px;
  color: #333;
  text-align: center; }

.page-content {
  padding-top: 110px; }

.page-sub-title {
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  color: #666;
  margin-bottom: 50px; }

.panel {
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.12); }

.price-tab-link {
  color: #000;
  font-weight: 700;
  padding: 20px 30px;
  text-align: center;
  display: block;
  border-right: 1px solid #ececec; }
  .price-tab-link:hover {
    color: #000000;
    text-decoration: none; }

.order-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.order-tab {
  width: 20%; }

.price-tab-other {
  border-right: none; }

@media (max-width: 768px) {
  .order-tab:nth-child(1), .order-tab:nth-child(2) {
    width: 50%;
    border-bottom: 1px solid #ececec; }
  .price-tab-vk {
    border-right: none; }
  .order-tab:nth-child(n+3) {
    width: 33.33333%; }
  .price-tab-link {
    padding: 10px 10px;
    font-size: 14px; } }
=======
.index-btn-bottom {
  text-align: center;
  margin-top: 40px;
  display: none; }
>>>>>>> 4b6ebce07dff99bc8449a77a2793634f8215c47e
=======
hr {
  background-color: #fff; }
>>>>>>> parent of 148a755... price
